@media screen (max-width: 320px){
  body{
    1em;
  }
}
h1{
  padding-left: 25px;
  color:#0000CD;
   border:5px solid black;
   background-color: #778899;
    }


body {
  font-family:font-family: Pacifico;
  background-color: skyblue;
  background-image: url(bla.gif);
  background-size:cover;
  
}

header{
  font-weight: bold;
}

div {
  width: 780px;
     margin:auto;
     border: 5px solid #174460;
     border-radius: 10px;
     box-shadow:2px 4px 3px black;
     background-color:#FFFFFF;
     padding: 40px;
   }

td{
  padding-left: 50px;
  padding-bottom: 10px;
}

h2{
  border-bottom: 2px solid #174460;
  margin-top: 50px;
}

.date{
vertical-align: top;
}


 

